/* General framework for paper layout set. Font family set with Google Fonts*/
* {
    font-family: 'Public Sans', sans-serif;
}

/* Default font-size set */
html {
    font-size: 62.5%;
    }

header {
    background-image: linear-gradient(to right, rgb(91, 91, 243), rgb(0, 0, 44));
}